.wrap {
    display: flex;
    align-items: center;
}

.selectWrap {
    position: relative;
}

.selectWrap::after {
    content: ''; 
    right: 35px;
    top: 15px;
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.select {
    position: absolute;
    right: 1px;
    top: 35px;
    padding: 4px 7px;
    width: 120px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1)
}

.btn {
    color: #ffffff;
    border: none;
    background-color: inherit;
    margin-left: 6px;
    cursor: pointer;
}

.option {
    color: #000000;
    font-size: 14px;
    padding: 3px;
    border-radius: 5px;
    margin: 5px 0;
}

.option:hover {
    background-color: rgb(185, 192, 192);
    color: #ffffff;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .wrap {
      align-self: end;
    }

}
