.main {
  background-color: #0079BF;
  flex: 1 1 auto;
}

.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

@media screen and (max-width: 1250px) {
  .container {
      padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}